.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #009999;
    padding: 2px;
    flex: none;
}

.card-text {
    border: 2px solid #91cdc9;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.card-pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.card-pre code {
    font-size: 12px;
}

.card-btn-container {
    width: 3rem;
    display: flex;
    margin-left: auto;
}

.like-btn,
.dislike-btn {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.25rem;
    flex: auto;
}

.hidden {
    display: none;
}